<div class="row darkgreen-bg landingpage">
    <div class="hockeytips-logo">
        <h2 class="bigtext">
            <i class="fa fa-share-alt-square"></i> HockeyTips 
            <small>[ <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> under construction]</small>
        </h2> 
        
        
        <h1>Informatie & inspiratie over hockey.</h1>
        <hr class="red">
        <p class="description">
            Op HockeyTips vindt je de meest actuele tips en trucs 
            voor iedere hockeycoach of -trainer over de begeleiding 
            en ontwikkeling van spelers, teambuilding, oefeningen, 
            beleidsmatige zaken, tactiek en fysieke ontwikkeling.
        </p>
        <p class="landingpage-readmore text-centered">
            <a href="#top-of-page" class="darkred">
                <i class="fa fa-chevron-circle-down fa-5x landingpage-readmore-button animated infinite pulse "></i>
            </a>
        </p>
            
            
        
    </div>
    <div class="landingspage-buttons ">
        <i class="fa fa-facebook-square fa-3x text-primary"></i>
        <i class="fa fa-google-plus-square fa-3x text-danger"></i>
        <i class="fa fa-twitter-square fa-3x text-info"></i>
    </div>
    
    
    
</div>
<div id="top-of-page"></div>